* {
  margin: 0;
  padding: 0;
}
.list-with-scroll {
  overflow-y: scroll;
  height: 54vh;
}
.list-with-scroll-checkbox {
  overflow-y: scroll;
  height: 48vh;
}
.list-with-scroll::-webkit-scrollbar,
.list-with-scroll-checkbox::-webkit-scrollbar {
  display: none;
}
